@import ./class/reset

// x-build style
body
  background: #2C3643

.title
  display: block
  margin-top: 10px
  color: #fff
  text-align: center
  font-size: .5rem

.logo
  margin: 200px auto 0 auto
  width: 100px
  height: 100px
  background: url(../images/logo.png) no-repeat
  background-size: 100%

footer
  position: absolute
  bottom: 0
  padding-bottom: 20px
  width: 100%
  text-align: center
  font-size: .15rem
  line-height: 2
  a
    color: #fff